<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= yield_content :head %>
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <!-- Stylesheets -->
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "site" %>
    <script src="/javascripts/scrollreveal.min.js"></script>
    <script src="/javascripts/headroom.min.js"></script>
    <!-- Favicons-->
    <link rel="icon" href="/images/logos/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="/images/logos/favicon.png" type="image/x-icon" />

    <!-- Scroll Reveal -->
    <script> window.sr = ScrollReveal();</script>

    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
  <body>
    <%= partial 'partials/nav-bulma' %>
    <div class="main-container">
      <%= yield %>
    </div>
    <%= partial 'partials/footer' %>
    <!-- Javascripts pages-->
    <%= javascript_include_tag "site" %>
  </body>
</html>
