<% content_for(:head) do %>
  <%= dato_meta_tags(dato.homepage) %>
<% end %>

<!-- Hero Container -->
<div class="hero-container">
  <div class="hero-title">
    <h1><%= dato.homepage.header %></h1>
    <p><%= dato.homepage.description %></p>
  </div>
  <div class="hero-img">
    <img src="/images/illustrations/blog.svg">
  </div>
</div>
<!-- Article container -->

<div class="article-container">
  <h2>Articles</h2>
  <div class="article-grid">
    <% items.each do |article| %>
    <article class="article_item">
        <a href="/articles/<%= article.slug %>"><img src="<%= article.cover_image.url(fm: :png) %>"></a>
        <a href="/articles/<%= article.slug %>"><h3><%= article.title %></h3></a>
        <p><%= article.description %></p>
        <p class="article-category-date">Posted on <%= article.publication_date %> </p>
    </article>
    <% end %>
  </div>
</div>
