<% content_for(:head) do %>
  <%= dato_meta_tags(dato.homepage) %>
<% end %>

<!-- Third  Idea for top container - Medium Style -->

<div class="top-container">
  <img src="/images/logos/circle-logo.svg">
  <h1>Ziprent Insights</h1>
  <h3>A curation of our thoughts and expertise</h3>
</div>

<hr style="margin: 5% 0;">
<!-- Article container -->

<div class="article-container">
  <div class="article-grid">
    <% items.each do |article| %>
    <article class="article_item">
        <a href="/articles/<%= article.slug %>"><img src="<%= article.cover_image.url(fm: :png) %>"></a>
        <a href="/articles/<%= article.slug %>"><h3><%= article.title %></h3></a>
        <p><%= article.description %></p>
        <p class="article-category-date">Posted on <%= article.publication_date %> </p>
    </article>
    <% end %>
  </div>
</div>

