<% content_for(:head) do %>
  <%= dato_meta_tags(dato.homepage) %>
<% end %>

<div class="top-container">
  <img src="/images/logos/circle-logo.svg">
  <h1>Ziprent Insights</h1>
  <h3>A curation of our thoughts and expertise</h3>
</div>

<hr style="margin: 5% 0;">
<!-- Article containers -->

<div class="article-container">
  <% items.each do |article| %>
  <div class="article-grid">
    <div class="article-img">
        <a href="/articles/<%= article.slug %>"><img src="<%= article.cover_image.url(fm: :png) %>"></a>
    </div>
    <div class="article-text">
      <a href="/articles/<%= article.slug %>"><h2><%= article.title %></h2></a>
      <p><%= article.description %></p>
      <div class="article-profile">
        <img alt="Author profile" src="<%= article.author_profile_img.url(fm: :png) %>">
        <div class= "article-profile-text">
          <p><%= article.author %></p>
          <p><span><%= article.read_time%></span></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

